name: nightly

on:
  workflow_dispatch:
  push:
    branches: [ main, ci/** ]

concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macbuild:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main 
      - uses: flucoma/actions/pd@v6
        with:
          branch: origin/main

      - name: sign binaries
        uses: flucoma/actions/distribution@main
        with:
          glob: '-e pd_darwin'
          package: 'release-packaging'
          output_type: 'dmg'
          output: FluCoMa-PD-Mac-nightly
          cert: ${{ secrets.CERT }}
          certpwd: ${{ secrets.CERTPWD }}
          teamid: ${{ secrets.WWDRTEAMID }}
          apppwd: ${{ secrets.APPSTORECONNECTPWD }}
          appusr: ${{ secrets.APPSTORECONNECTUSERNAME }}

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: macbuild
          path: release-packaging/FluCoMa-PD-Mac-nightly.dmg

      # additional upload to avoid dmg unpacking for deken
      - name: archive mac folder for deken
        run: tar -czf FluCoMa-PD-Mac-nightly.tar.gz -C release-packaging FluidCorpusManipulation

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: macdeken
          path: FluCoMa-PD-Mac-nightly.tar.gz

  winbuild:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main         
      - uses: flucoma/actions/pd@v6
        with:
          branch: origin/main

      - name: compress archive
        run: 7z a FluCoMa-PD-Windows-x64-nightly.zip FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v4.3.6 
        with:
          name: winbuild
          path: release-packaging/FluCoMa-PD-Windows-x64-nightly.zip

  linuxbuild:
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main 
      - uses: flucoma/actions/pd@v6
        with:
          branch: origin/main

      - name: compress archive
        run: tar -zcvf FluCoMa-PD-Linux-x64-nightly.tar.gz FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: linuxbuild 
          path: release-packaging/FluCoMa-PD-Linux-x64-nightly.tar.gz
          
      - id: get-version
        run: echo "version=$(cat flucoma.version.rc)-nightly" >> $GITHUB_OUTPUT
        working-directory: build/_deps/flucoma-core-src
  
  release:
    runs-on: ubuntu-22.04
    needs: [macbuild, winbuild, linuxbuild]

    steps:

      #### LINUX ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: linuxbuild

      #### MAC ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: macbuild

      #### WINDOWS ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: winbuild

      #### UPLOAD RELEASE ####
      - uses: dev-drprasad/delete-tag-and-release@v0.2.1
        with:
          delete_release: true
          tag_name: nightly
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: create release
        uses: ncipollo/release-action@v1
        with:
          name: FluCoMa PureData Nightly Release
          artifacts: "FluCoMa*"
          body: This is a nightly build of the FluCoMa PureData package. As such, be warned there may be bugs or other unexpected behaviour. The build hash is ${{ github.sha }}"
          tag: nightly
          prerelease: true
          draft: false
          allowUpdates: true

  deken:
    runs-on: ubuntu-22.04
    needs: [macbuild, winbuild, linuxbuild]
    steps:
      - uses: flucoma/actions/deken@v6
        with:
          version: ${{ needs.linuxbuild.outputs.version }}
          deken_username: ${{ secrets.DEKEN_USERNAME }}
          deken_password: ${{ secrets.DEKEN_PASSWORD }}
          upload: 'true'
