name: release
on:
  workflow_dispatch:

jobs:
  macbuild:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main 
      - uses: flucoma/actions/pd@v5
        with:
          branch: origin/production

      - name: sign binaries
        uses: flucoma/actions/distribution@main
        with:
          glob: '-e pd_darwin'
          package: 'release-packaging'
          output_type: 'dmg'
          output: FluCoMa-PD-Mac
          cert: ${{ secrets.CERT }}
          certpwd: ${{ secrets.CERTPWD }}
          teamid: ${{ secrets.WWDRTEAMID }}
          apppwd: ${{ secrets.APPSTORECONNECTPWD }}
          appusr: ${{ secrets.APPSTORECONNECTUSERNAME }}

      - uses: actions/upload-artifact@v3
        with:
          name: macbuild
          path: release-packaging/FluCoMa-PD-Mac.dmg

  winbuild:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main         
      - uses: flucoma/actions/pd@v5
        with:
          branch: origin/production

      - name: compress archive
        run: 7z a FluCoMa-PD-Windows.zip FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v3 
        with:
          name: winbuild
          path: release-packaging/FluCoMa-PD-Windows.zip

  linuxbuild:
    runs-on: ubuntu-20.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main
      - uses: flucoma/actions/pd@v5
        with:
          branch: origin/production 

      - name: compress archive
        run: tar -zcvf FluCoMa-PD-Linux.tar.gz FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v3
        with:
          name: linuxbuild 
          path: release-packaging/FluCoMa-PD-Linux.tar.gz
          
      - id: get-version
        run: echo "version=$(cat flucoma.version.rc)" >> $GITHUB_OUTPUT
        working-directory: build/_deps/flucoma-core-src
  
  release:
    runs-on: ubuntu-20.04
    needs: [macbuild, winbuild, linuxbuild]

    steps:
      #### LINUX ####
      - uses: actions/download-artifact@v2
        with:
          name: linuxbuild

      #### MAC ####
      - uses: actions/download-artifact@v2
        with:
          name: macbuild

      #### WINDOWS ####
      - uses: actions/download-artifact@v2
        with:
          name: winbuild

      - name: package and upload
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.linuxbuild.outputs.version }}
          body: "This is a release build of the FluCoMa PureData package. The build hash is ${{ github.sha }}"
          files: FluCoMa*
          prerelease: true
          tag_name: ${{ needs.linuxbuild.outputs.version }}
          draft: false
