name: release
on:
  workflow_dispatch:
    inputs:
      upload_to_deken:
        description: 'Upload to deken'
        required: false
        type: boolean
        default: false

jobs:
  macbuild:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main 
      - uses: flucoma/actions/pd@v6
        with:
          branch: origin/${{ github.ref_name }}

      - name: sign binaries
        uses: flucoma/actions/distribution@main
        with:
          glob: '-e pd_darwin'
          package: 'release-packaging'
          output_type: 'dmg'
          output: FluCoMa-PD-Mac
          cert: ${{ secrets.CERT }}
          certpwd: ${{ secrets.CERTPWD }}
          teamid: ${{ secrets.WWDRTEAMID }}
          apppwd: ${{ secrets.APPSTORECONNECTPWD }}
          appusr: ${{ secrets.APPSTORECONNECTUSERNAME }}

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: macbuild
          path: release-packaging/FluCoMa-PD-Mac.dmg

      # additional upload to avoid dmg unpacking for deken
      - name: archive mac folder for deken
        run: tar -czf FluCoMa-PD-Mac.tar.gz -C release-packaging FluidCorpusManipulation

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: macdeken
          path: FluCoMa-PD-Mac.tar.gz

  winbuild:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main         
      - uses: flucoma/actions/pd@v5
        with:
          branch: origin/${{ github.ref_name }}

      - name: compress archive
        run: 7z a FluCoMa-PD-Windows-x64.zip FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v4.3.6 
        with:
          name: winbuild
          path: release-packaging/FluCoMa-PD-Windows-x64.zip

  linuxbuild:
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main
      - uses: flucoma/actions/pd@v5
        with:
          branch: origin/${{ github.ref_name }} 

      - name: compress archive
        run: tar -zcvf FluCoMa-PD-Linux-x64.tar.gz FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: linuxbuild 
          path: release-packaging/FluCoMa-PD-Linux-x64.tar.gz
          
      - id: get-version
        run: echo "version=$(cat flucoma.version.rc)" >> $GITHUB_OUTPUT
        working-directory: build/_deps/flucoma-core-src
  
  release:
    runs-on: ubuntu-22.04
    needs: [macbuild, winbuild, linuxbuild]

    steps:
      #### LINUX ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: linuxbuild

      #### MAC ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: macbuild

      #### WINDOWS ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: winbuild

      - name: delete pre-existing release
        uses: dev-drprasad/delete-tag-and-release@v0.2.1
        with:
          delete_release: true # default: false
          tag_name: ${{ needs.linuxbuild.outputs.version }} # tag name to delete
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: package and upload
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.linuxbuild.outputs.version }}
          body: "This is a release build of the FluCoMa PureData package. The build hash is ${{ github.sha }}"
          files: FluCoMa*
          prerelease: true
          tag_name: ${{ needs.linuxbuild.outputs.version }}
          target_commitish: ${{ github.sha }}
          draft: false

  deken:
    runs-on: ubuntu-22.04
    needs: [macbuild, winbuild, linuxbuild]
    steps:
      - uses: flucoma/actions/deken@v6
        with:
          version: ${{ needs.linuxbuild.outputs.version }}
          deken_username: ${{ secrets.DEKEN_USERNAME }}
          deken_password: ${{ secrets.DEKEN_PASSWORD }}
          upload: ${{ inputs.upload_to_deken }}
