name: Release
on:
  workflow_dispatch:
    inputs:
      base:
        description: 'Base branch to deploy core from'
        required: false
        default: 'main'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: flucoma/actions/env@v4
        with:
          branch: ${{ github.event.inputs.base }} 
      - uses: flucoma/actions/docs@v4
        with:
          target: MAKE_PD_REF
          branch: ${{ github.event.inputs.base }}

      - uses: actions/upload-artifact@v2
        with:
          name: docs
          path: build/pd_ref

  macbuild:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v4
        with:
          branch: ${{ github.event.inputs.base }} 
      - uses: flucoma/actions/pd@v4

      - uses: actions/upload-artifact@v2                                                                                                                                                 
        with:                                                                                                                                                                            
          name: macbuild                                                                                                                                                                 
          path: release-packaging

  winbuild:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v4
        with:
          branch: ${{ github.event.inputs.base }} 
      - uses: flucoma/actions/pd@v4

      - uses: actions/upload-artifact@v2                                                                                                                                                 
        with:                                                                                                                                                                            
          name: winbuild                                                                                                                                                                
          path: "release-packaging"

  linuxbuild:
    runs-on: ubuntu-18.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v4
        with:
          branch: ${{ github.event.inputs.base }} 
      - uses: flucoma/actions/pd@v4

      - uses: actions/upload-artifact@v2                                                                                                                                                 
        with:                                                                                                                                                                            
          name: linuxbuild                                                                                                                                                                
          path: release-packaging
          
      - id: get-version
        run: echo "::set-output name=version::$(cat flucoma.version.rc)"
        working-directory: core
  
  release:
    runs-on: ubuntu-latest
    needs: [macbuild, winbuild, linuxbuild, docs]

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: docs
          path: docs

      #### LINUX ####
      - uses: actions/download-artifact@v2
        with:
          name: linuxbuild
          path: linux
      
      - name: copy docs to linux
        run: cp -r docs linux/FluidCorpusManipulation

      - name: compress linux
        run: zip -r ../FluCoMa-PD-Linux-"${{ needs.linuxbuild.outputs.version }}".zip .
        working-directory: linux

      #### MAC ####
      - uses: actions/download-artifact@v2
        with:
          name: macbuild
          path: mac

      - name: copy docs to mac
        run: cp -r docs mac/FluidCorpusManipulation

      - name: compress mac
        run: zip -r ../FluCoMa-PD-Mac-"${{ needs.linuxbuild.outputs.version }}".zip .
        working-directory: mac

      #### WINDOWS ####
      - uses: actions/download-artifact@v2
        with:
          name: winbuild
          path: win

      - name: copy docs to windows
        run: cp -r docs win/FluidCorpusManipulation

      - name: compress windows
        run: zip -r ../FluCoMa-PD-Windows-"${{ needs.linuxbuild.outputs.version }}".zip .
        working-directory: win

      - name: package and upload
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.linuxbuild.outputs.version }}
          body: "This is a release build of the FluCoMa PureData package. The build hash is ${{ github.sha }}"
          files: FluCoMa*.zip
          prerelease: false
          tag_name: ${{ needs.linuxbuild.outputs.version }}
          draft: false
